<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    
    <title>{{ current_app_title }}</title> 
    <link rel="shortcut icon" href="/favicon.ico" /> 
    <link rel="stylesheet" href="/static/default.css" type="text/css" />     
    <script type="text/javascript" src="/static/jquery.js"></script> 
  </head> 
  <body>

<div id="breadcrumbs">
  <a href='/'>Index</a>
  {{#apps}}
    {{#is_current}}
      → <strong>{{ title }}</strong>
    {{/is_current}}
  {{/apps}}
</div>

<div id="content">
  <div id="page_title">
    <h1>{{ current_app_title }}</h1>
    <ul id="tabs">
      {{#apps}}
        {{#is_current}}
          <li id="current_tab">{{title}}</li>
        {{/is_current}}
        {{^is_current}}
          <li><a href="{{href}}">{{title}}</a></li>
        {{/is_current}}
      {{/apps}}
    </ul> 
  </div>
  
  <div id="page_content">