html, body { height: 100%; padding: 0; margin: 0; font: 16px/20px sans-serif; color: hsl(0,0%,20%); }
h1 { background: hsl(56,100%,50%); width: 350px; margin: 0 0 20px 40px; padding: 60px 10px 10px 10px; font-weight: normal; }
dl { margin: 40px 40px 30px 40px; padding: 0 10px;}
dt { font-weight: bold; } 
dd { margin: 0 0 20px 0;  }
a { color: inherit; }
a:hover { color: hsl(0,80%, 37%); }
code { background: hsl(0,0%,94%); padding: 3px; }

hr { width: 370px; margin: 0 0 0 40px; height: 5px; border: none; background: hsl(56,100%,50%); }