html, body {
    margin: 0;
    padding: 0; 
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 12px;
    background: #E5E5E5;
}

.comment, .field_comment { font-size: 10px; opacity: 0.6; }
.disabled {opacity: 0.3; }
.num { text-align: right !important; }
.c { text-align: center; }
hr { border: 0; height: 1px; background: #D85300}
h2 { margin-top: 24px }

#content {
    margin: 2em;
    background-color: #FFF;
    -webkit-box-shadow: #BBB 3px 3px 4px;
}

#page_content { margin: 24px; padding-bottom: 24px }

#footer {
    font-size: 10px;
    color: #999;
    padding: 0 60px;
    background: url('/static/i/logo.gif') 32px 0 no-repeat;
    height: 24px;
}

#page_title {
    padding: 12px 24px 6px 24px;
    background: #EDF3FE;
}

#page_title h1 {
  font-size: 16px;  
  font-family: "Lucida Grande", "Segoe UI", Arial, sans-serif;
  font-weight: 600;
  padding-bottom: 6px;
}

a, .action { color: #db6c00; color: #D85300; cursor: pointer; }
.action { border-bottom: 1px dashed #D85300; }


#breadcrumbs {
    background: #eaf2ff;
    margin: 0;
    padding: 0.5em;
    background: #3B5998;
    background: #444;
    color: white;
}

#breadcrumbs a {
    color: #FFB266;
    text-decoration: none;
}

#breadcrumbs a:hover {
    text-decoration: underline;
}

#current_breadcrumb {
    font-weight: bold;  
}

.invalid input[type=text], .invalid input[type=search], .invalid textarea {
    background: url(/static/i/input_bg_err.gif) no-repeat;
    background-color: #FFF5F5;
    border-right: 1px solid #D44;
    border-bottom: 1px solid #D44;
}

textarea {
    min-width: 100px;
    min-height: 20px;
    background-color: #FFF;
    resize: both;
    margin-bottom: 5px;
}

select { margin-top: 6px; }
.invalid select { background: #F77; border: 1px solid #F00 }

input[type="checkbox"] {
    //margin-bottom: 0;
    //vertical-align: bottom;
}


.highlighted { background-color: #FFC; }


#tabs {
  font-size: 12px;
  font-weight: normal;
  margin: 0 0 0 -10px;
  padding: 0;
}

#tabs li {
  display: inline;
}

#current_tab {
  background: #FFF;
}

#current_tab, #tabs a {
  padding: 6px 9px;
  text-decoration: none;
}

#tabs a:hover {
  background: #FFF;
}

dl { line-height: 24px; }
dt { width: 12em; float: left; font-weight: bold; clear: both}

.warn, .info {
  line-height: 24px;
  color: #FFF;
  font-weight: bold;
  padding: 4px 8px;
}

.warn { background-color: #F55; }
.info { background-color: #5C5; }

.edit {
  //background-color: #F2F2F2;
  //margin: 20px;
  line-height: 20px;  
  padding: 0;
  border-collapse: collapse;
}

.edit th, .edit td {
  line-height: 28px;
  padding: 0px 16px 0 0px;
  height: 30px;
  vertical-align: top;
}

.edit th {
  font-weight: normal;
  text-align: right;
  color: #464646;
  color: #777;
}

.button {
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: normal !important;
  padding: 4px 8px;
  height: 15px;
  white-space: nowrap;

  text-shadow: #FFF 0 -1px 0;
  text-shadow: none;
  background: #EEE;
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F6F6), to(#E4E4E3));
  border-top: 1px solid #FFF;
  outline: 1px solid #9B9B9B; 
  color: #333;
  text-decoration: none;
}

.button:active {
  background: #E4E4E3;
  background: -webkit-gradient(linear, left top, left bottom, from(#E4E4E3), to(#E4E4E3));
  border-top: 1px solid #CCC;
  color: #555;
}

.errorrow {
  background-color: #EEE;
}

.errorlist {
  color: #F00;
  font-weight: bold;
  list-style-type: square;
  padding-left: 16px;
  margin: 0;
}


.datatable {
}

.datatable th {
  text-align: left; 
}

.datatable a {
  text-decoration: none;
}

.datatable a:hover {
  text-decoration: underline;
}

.datatable thead {
  //background: #EDF3FE;
  border-bottom: 1px solid #B7C0C7; 
}

.datatable tbody tr {
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
}

.datatable .selected {
  background-color: #FFEFE5;
}

.datatable .selected:hover {
  background-color: #FFDFCC;
}

.datatable th span, .sortable span {
  border-bottom: 1px dashed #555;  
}

.datatable th, .datatable td {
  padding: 4px 12px;
  height: 18px;
}

.datatable tbody tr:hover {
  background: #EDF3FE;
  cursor: default;
}
