@import url("spectre.css");

body {
    color: #333;
    max-width: 1000px;
    background-color: #777;
    margin: 0 auto;
}

body, tt { font: 18px/25px 'Palatino Linotype', 'Book Antiqua', Palatino, serif; }
tt { font-style: italic; }

h1, h2, h3 { font-family: 'Helvetica Neue', Helvetica, Arial, 'sans serif'; }

.document { 
  margin: 0 2.5em;
  background-color: white;
  border-radius: 6px; 
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 17px; 
}

.body { padding: 1.5em 3em 3em }

ul, ol { padding: 0px 0 0px 2em; margin: 0; }
ul li { list-style-type: square; }
